.Message {
    text-align: center;
  
  &-header {
    background-color: #6a72e9;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  &-text {
    color: #61dafb;
  }
}
  
  
  